In [85]:
import pandas as pd
import numpy as np

In [ ]:
# iPyhton help quation symbols
pd.read_csv?
# pd.read_*?

## load df

In [83]:
# dataset_path = 'https://raw.githubusercontent.com/ProgressBG-Python-Course/JupyterNotebooksExamples/master/datasets/various/drinks.csv'
dataset_path='../datasets/drinks.csv'
df = pd.read_csv(dataset_path)
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [ ]:
# df[['wine_servings','continent']]

In [ ]:
df[['country', 'beer_servings']] = df[['beer_servings','country']]
df.head(5)

In [ ]:
df[['country', 'beer_servings']] = df[['beer_servings','country']]
df.head(5)

In [ ]:
# TASK: select rows:  [5 - 10], and columns: wine_servings : continent
df.loc[5:10,'wine_servings':'continent']

In [ ]:
#TASK: select country names from odd numbers
df.loc[1::2, 'country']

In [ ]:
# swap columns (with values) 
# TODO: why not swapping
df.loc[:, ['beer_servings', 'country']] = df.loc[:, ['country','beer_servings']]
df.head()

In [ ]:
# select rows for which wine servings > 300
df[df.wine_servings > 300]

In [ ]:
# select country names for which wine servings > 300
# df[df.wine_servings > 300]['country']
df.loc[df.wine_servings > 300, 'country']

In [ ]:
# set country values as index
# df.set_index('country', inplace=True)
df.head(5)

In [ ]:
# TASK: select rows for index values starting with 'B'
# df.loc['Bahamas':'Bulgaria', :]

In [ ]:
df.reset_index(inplace=True)

In [ ]:
#TASK: select all rows and all columns, without 'country', 'continent'

df.loc[:, 'beer_servings':'total_litres_of_pure_alcohol']
df.iloc[:, 1:-1]

In [ ]:
# select last 3 columns:
df.iloc[:, 1:-1]

## DF Manipulations

In [92]:
df.shape

(193, 6)

In [ ]:
# Insert column with random integers in [1..10], named 'random' after 'country' coulumn



rand_ints = np.random.randint(1, high=11, size=df.shape[0])

df.insert(1, 'random', rand_ints)

# np.random.randint?

In [101]:
# drop column 'random':
df.drop(columns='random', inplace=True)

## Useful properties and methods

In [105]:
df.index

RangeIndex(start=0, stop=193, step=1)

In [106]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [109]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [114]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [117]:
# select country names, which 'total_litres_of_pure_alcohol' == max
mask = df.total_litres_of_pure_alcohol == df.total_litres_of_pure_alcohol.max()

df.loc[mask, ['country','total_litres_of_pure_alcohol']]

    country  total_litres_of_pure_alcohol
15  Belarus                          14.4

In [118]:
# max by rows
df.max(axis=1)

0        0.0
1      132.0
2       25.0
3      312.0
4      217.0
       ...
188    333.0
189    111.0
190      6.0
191     32.0
192     64.0
Length: 193, dtype: float64

In [122]:
# TASK: find the max value for Bulgaria
# df.loc[df.country=='Bulgaria'].max(axis=1)

In [127]:
idx = df.wine_servings.idxmax()

df.loc[idx,'country']

'France'

In [130]:
df.groupby?

Signature:
df.groupby(
    by=None,
    axis: 'Axis' = 0,
    level: 'Level | None' = None,
    as_index: 'bool' = True,
    sort: 'bool' = True,
    group_keys: 'bool' = True,
    squeeze: 'bool | lib.NoDefault' = <no_default>,
    observed: 'bool' = False,
    dropna: 'bool' = True,
) -> 'DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, or list of labels
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If an ndarray is passed, the
    values are used as-is to determine the groups. A label or list of
    labels may be passed to group by the columns in ``self``. Notice
    that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1).
level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels.
as_index : bool, default True
    For aggregated output, return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output.
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group.
group_keys : bool, default True
    When calling apply, add group keys to index to identify pieces.
squeeze : bool, default False
    Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type.

    .. deprecated:: 1.1.0

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.
dropna : bool, default True
    If True, and if group keys contain NA values, NA values together
    with row/column will be dropped.
    If False, NA values will also be treated as the key in groups

    .. versionadded:: 1.1.0

Returns
-------
DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

We can also choose to include NA in group keys or not by setting
`dropna` parameter, the default setting is `True`:

>>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by=["b"]).sum()
    a   c
b
1.0 2   3
2.0 2   5

>>> df.groupby(by=["b"], dropna=False).sum()
    a   c
b
1.0 2   3
2.0 2   5
NaN 1   4

>>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by="a").sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0

>>> df.groupby(by="a", dropna=False).sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0
NaN 12.3   33.0
File:      ~/.pyenv/versions/ml_python_3.9/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method

In [134]:
df.groupby('continent').wine_servings.max()

continent
AF    233
AS    123
EU    370
OC    212
SA    221
Name: wine_servings, dtype: int64

In [143]:
df.continent.isnull().values.any()

True

In [155]:
# df.sort_values?
# df.sort_values?
# TODO: check docs....
df.sort_values(by='continent', axis=1)

KeyError: 'continent'

# TODO:

	EU: [
		'countries': [],	
	]