# DataFrame Indexing

In [5]:
import numpy as np
import pandas as pd

In [8]:
authors_df = pd.read_csv("./authors.csv", sep=',')
authors_df.head(10)

                 author                                          authorUrl
0           Mike Pirnat                            http://mike.pirnat.com/
1           David Mertz  http://www.oreilly.com/programming/free/functi...
2       Muhammad Yasoob                             http://pythontips.com/
3  B. Miller & D. Ranum                        http://reputablejournal.com
4     Jeffrey Elkner...                          http://greenteapress.com/
5  B. Miller & D. Ranum                       http://reputablejournal.com/
6           Zed A. Shaw                  http://learnpythonthehardway.org/
7          Mark Pilgrim             http://getpython3.com/diveintopython3/
8          Mark Pilgrim             http://getpython3.com/diveintopython3/
9       Allen B. Downey                      http://www.greenteapress.com/

In [7]:
print(authors_df.columns)
print(authors_df.index)

Index(['author', 'authorUrl'], dtype='object')
RangeIndex(start=0, stop=75, step=1)

## Index by column and row

In [16]:
# by single column:
print(authors_df["author"].head(3))
print(authors_df.author.head(3))

0        Mike Pirnat
1        David Mertz
2    Muhammad Yasoob
Name: author, dtype: object
0        Mike Pirnat
1        David Mertz
2    Muhammad Yasoob
Name: author, dtype: object

In [19]:
# by multiple columns:
print(authors_df[["author", "authorUrl"]].head(3))

            author                                          authorUrl
0      Mike Pirnat                            http://mike.pirnat.com/
1      David Mertz  http://www.oreilly.com/programming/free/functi...
2  Muhammad Yasoob                             http://pythontips.com/

TASK: print rows which author name starts with 'D'

In [41]:
# python startswith method:
s = 'abc'
s.startswith('a')

True

In [67]:
# Series.str.startswith method:
mask = authors_df.author.str.startswith('D')

In [68]:
# df.loc[row, columns]
authors_df.loc[mask ,:]

          author                                          authorUrl
1    David Mertz  http://www.oreilly.com/programming/free/functi...
17  Dave Kuhlman                      http://www.rexx.com/~dkuhlman
25  Doug Hellman                       http://www.doughellmann.com/
54   David Mertz                             http://gnosis.cx/TPiP/

## Mask by multiple conditions:

In [69]:
# let's have next df:
num_df = pd.DataFrame(np.random.randint(1,20,size=(10, 4)), columns=list('abcd'))
print(num_df.head(3))

    a   b   c   d
0  15  13  10  19
1   2   6   1   6
2   6  14  16   4

TASK:  print only for which: 
column a and acolumn c have even numbers

In [70]:
# mask = (num_df.a%2==0) and (num_df.c%2==0) 

mask = (num_df.a%2==0) & (num_df.c%2==0)
# mask = np.logical_and(num_df.a%2==0, num_df.c%2==0)
mask.head(3)

0    False
1    False
2     True
dtype: bool

In [71]:
df.loc[ mask, :]

   A  B  C  D
2  5  8  7  6
4  8  6  6  8
8  7  7  8  2

In [35]:
# TODO: why not work
mask = ( authors_df.author.str.contains("free") )
print(mask)
authors_df.head(10)

0     False
1     False
2     False
3     False
4     False
      ...
70    False
71    False
72    False
73    False
74    False
Name: author, Length: 75, dtype: bool

                 author                                          authorUrl
0           Mike Pirnat                            http://mike.pirnat.com/
1           David Mertz  http://www.oreilly.com/programming/free/functi...
2       Muhammad Yasoob                             http://pythontips.com/
3  B. Miller & D. Ranum                        http://reputablejournal.com
4     Jeffrey Elkner...                          http://greenteapress.com/
5  B. Miller & D. Ranum                       http://reputablejournal.com/
6           Zed A. Shaw                  http://learnpythonthehardway.org/
7          Mark Pilgrim             http://getpython3.com/diveintopython3/
8          Mark Pilgrim             http://getpython3.com/diveintopython3/
9       Allen B. Downey                      http://www.greenteapress.com/