In [1]:
import pandas as pd

In [2]:
bg_weather_df = pd.DataFrame({
  "town": ["Sofia", "Sandanski", "Pleven"],
  "temp":[25,32,21],
  "rain": [False, False, True ]
})
bg_weather_df

        town  temp   rain
0      Sofia    25  False
1  Sandanski    32  False
2     Pleven    21   True

In [4]:
wind_df=pd.DataFrame([3.4, 2, 6.5], columns=["wind"])
wind_df

   wind
0   3.4
1   2.0
2   6.5

In [11]:
pd.concat([bg_weather_df,wind_df], axis=1)

        town  temp   rain  wind
0      Sofia    25  False   3.4
1  Sandanski    32  False   2.0
2     Pleven    21   True   6.5

In [ ]:
bg_weather_df.insert()