In [2]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([1,3,1,4], dtype='uint8')
s1

# s1.map({1:'a'}, na_action='ignore')


# <value if True> if <condition> else <value if false>

# s1.map(lambda x: 'a' if x==1 else x )

s1.apply(lambda x,l: l if x==1 else x, args=('a',) )

0    a
1    3
2    a
3    4
dtype: object

In [4]:
s2 = pd.Series([1,2,3,4])
# def power(x):
# 	return x**2

s2.map( lambda x: x**2)

0     1
1     4
2     9
3    16
dtype: int64

In [5]:
df = pd.DataFrame({'s1':s1,'s2':s2})
df

   s1  s2
0   1   1
1   3   2
2   1   3
3   4   4

In [10]:
# value_when_true if condition else value_when_false
# df.applymap(lambda x: True if x%2==0 else False )

df

   s1  s2
0   1   1
1   3   2
2   1   3
3   4   4

In [19]:
df[(df==1).any(axis=1)]


df[df.s2==1]

# df.loc[[True,True,False,False],'s2']

   s1  s2
0   1   1